@use '../../style/variables' as *;

header{
    position: relative;
    height: 800px;
    overflow: hidden;
    img{
        width: 1440px;
    }
    .triangles{
        width: 14.5rem;
        height: 10rem;
        position: absolute ;
        background-color: $border-dark;
        top: -8%;
    }

    .darkTriangles{
        @extend .triangles;
        background-color: $primary;
    }
    .triangleLeft{
        transform: rotate(-45deg);
        left: -8%;
    }
    .triangleRight{
        transform: rotate(45deg);
        right: -8%;
    }
}

