@use '../../style/variables' as *;


.circle{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $border-light;
    margin: 0.5rem;
    position: absolute;
    border: 5px solid $border-light;
}

.topLeft{
    top: 0;
    left: 0;
}
.topRight{
    top: 0;
    right: 0;
}
.bottomLeft{
    bottom: 0;
    left: 0;
}
.bottomRight{
    bottom: 0;
    right: 0;
}