@use '../../style/variables' as *;
.navbarStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    padding: 11rem 0 5rem;
    ul{
        margin: 0;
        display: flex;
        padding: 0;
        list-style-type: none;
        justify-content: space-evenly;
        width: 100%;
        li{
            font-size: 2rem;
            a{
                display: inline-block;
                color: $border-light;
                text-decoration: none;
                
            }
            
        }
    }
}