@use '../../style/variables' as *;

.navbarStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    padding: 11rem 0 5rem;
    position: relative;
    z-index: 1;
    ul{
        margin: 0;
        display: flex;
        padding: 0;
        list-style-type: none;
        justify-content: space-evenly;
        width: 100%;
        li{
            font-size: 2rem;
            a{
                display: inline-block;
                color: $border-light;
                text-decoration: none;
            }
            
        }
    }
}

.darkNav{
    @extend .navbarStyle;
    background-color: $light;
    ul{
        li{
            a{
                color: $border-dark;
            }
        }
    }
}

.box{
    background-color: $dark;
    border: 1rem solid $border-dark;
    color: $border-light;
    position: absolute;
    left: 50%;
    bottom: 13%;
    transform: translate(-50%);
    width: 72rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    h1, h2{
        margin: 0;
    }
    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 2rem;
        font-weight: 400;
        max-width: 50%;
        height: 8rem;
        text-align: center;
    }
}

.darkBox{
    @extend .box;
    background-color: white;
    border: 1rem solid $border-light2;
    color: $border-dark;

}

.activeNav{
    text-decoration: underline !important;
    transform: translateY(-80%);
}

.inactiveNav{
    text-decoration: none;
}